@model WebApp.Models.Product
@{
	Layout = "_Layout";
	//Layout = "_ImportantLayout";
	ViewBag.Title = ViewBag.Title ?? "Product Table";
}

@section Header {
	Product Information
}

<tr>
	<th>Name</th>
	<td>@Model.Name</td>
</tr>
<tr>
	<th>Price</th>
	<td>
		@Model.Price.ToString("c")
	</td>
</tr>
<tr>
	<th>CategoryId</th>
	<td>@Model.CategoryId</td>
</tr>

@section Footer {
	@(((Model.Price / ViewBag.AveragePrice) 
		* 100).ToString("F2"))% of average price
}

@section Summary {
@*	<div class="bg-info text-white m-2 p-2">
		@Json.Serialize(Model)
	</div>*@

	@*@await Component.InvokeAsync("CitySummary")*@
	<vc:city-summary />
}

@*<div class="m-2">
	<table class="table table-sm table-striped table-bordered">
		<tbody>
			<tr>
				<th>Name</th>
				<td>@Model.Name</td>
			</tr>
			<tr>
				<th>Price</th>
				<td>
					@Model.Price.ToString("c")
					(@(((Model.Price / ViewBag.AveragePrice) 
						* 100).ToString("F2"))% of average price)
				</td>
			</tr>
			<tr>
				<th>CategoryId</th>
				<td>@Model.CategoryId</td>
			</tr>
			<tr>
				<th>SupplierId</th>
				<td>@Model.SupplierId</td>
			</tr>
		</tbody>
	</table>
</div>*@

@*<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<title>title</title>
	<link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<h6 class="bg-primary text-white text-center m-2 p-2">Product Table</h6>
	<div class="m-2">
		<table class="table table-sm table-striped table-bordered">
			<tbody>
				<tr>
					<th>Name</th>
					<td>@Model.Name</td>
				</tr>
				<tr>
					<th>Price</th>
					<td>
						@Model.Price.ToString("c")
						(@(((Model.Price / ViewBag.AveragePrice) 
							* 100).ToString("F2"))% of average price)
					</td>
				</tr>
				<tr>
					<th>CategoryId</th>
					<td>@Model.CategoryId</td>
				</tr>
				<tr>
					<th>SupplierId</th>
					<td>@Model.SupplierId</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>*@