@inject DataContext _context

@*<table class="table table-sm table-bordered table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Dept</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Person p in People)
		{
			<tr class="@GetClass(p.Location.City)">
				<td>
					@p.PersonId
				</td>
				<td>
					@p.LastName, @p.FirstName
				</td>
				<td>
					@p.Department.Name
				</td>
				<td>
					@p.Location.City, @p.Location.State
				</td>
			</tr>
		}
	</tbody>
</table>*@

<TableTemplate RowType="Person" RowData="People"
	Highlight="@(p => p.Location.City)" SortDirection="@(p => p.LastName)">
	<Header>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Dept</th>
			<th>Location</th>
		</tr>
	</Header>
	<RowTemplate Context="p">
				<td>
					@p.PersonId
				</td>
				<td>
					@p.LastName, @p.FirstName
				</td>
				<td>
					@p.Department.Name
				</td>
				<td>
					@p.Location.City, @p.Location.State
				</td>
	</RowTemplate>
</TableTemplate>

<ThemeWrapper Theme="info" Title="Location Selector">
	<SelectFilter Values="@Cities" Title="@SelectTitle" 
	@bind-SelectedValue="SelectedCity" />

<button class="btn btn-primary"
	@onclick="@(() => SelectedCity = "San Jose")">
	Change
</button>
</ThemeWrapper>


@*<div class="form-group">
	<label for="selectedCity">City</label>
	<select name="selectedCity" class="form-control" @bind=SelectedCity>
		<option disabled selected>Select City</option>
		@foreach (string city in Cities)
		{
			<option selected="@(city == SelectedCity)">@city</option>
		}
	</select>
</div>
<button class="btn btn-primary" type="submit">Select</button>*@
@*<SelectFilter values="@Cities" title="@SelectTitle" CustomEvent="@HandleCustom" />*@



@code {
	public IEnumerable<Person> People =>
				_context.People
				.Include(p => p.Department)
				.Include(p => p.Location);
	//.Take(ItemCount);

	public IEnumerable<string> Cities =>
			_context.Locations
			.Select(l => l.City)
			.Distinct();

	public string SelectedCity { get; set; }

	public string GetClass(string city) =>
			SelectedCity == city ? "bg-info text-white" : "";

	[Parameter]
	public int ItemCount { get; set; } = 4;

	[Parameter]
	public string SelectTitle { get; set; }

	//public void HandleCustom(string newValue)
	//{
	//	SelectedCity = newValue;
	//}
}
